body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #080808;
    text-align: left;
    font-size: large;
    background-color: rgb(59, 91, 118);
}

h1{
 scroll-behavior: smooth;
}
a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
}
a[href="#top"]:hover{
    text-decoration:none;
}
